.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.app__login {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
}
